 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" id="about-header">
                    <h2>About</h2>
                    <hr class="star-light2">
                </div>
            </div>
            <div class="row" id ="about-section">
                <div class="col-lg-8 col-lg-offset-2">
                    <p style = "font-size: 20px;">Your professional bio is, arguably, the most important piece of copy you’ll ever write about yourself. It’s the first introduction to who you are, what you do, and what you’re interested in—whether a blurb on a social media platform, a personal website, or company team page. What you choose to highlight may play a role in others deciding to follow you, call you in for an interview, or invite you to participate in an event. It’s an opportunity for you to—in a few lines—showcase your work, competence, and areas of expertise. In short, it’s the first look at your personality. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <p style = "font-size: 20px;">In spite of the myriad ways to write a bio—from super serious to light and fun—fortunately, the standard ones all follow a similar format and are somewhat formulaic in their approach. Check out the easy-to-follow template from https://www.themuse.com/advice/the-professional-bio-template-that-makes-everyone-sound-accomplished for getting started on writing your own. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="C:\Users\fameling\Documents\PortfolioForMe\freelancer\theme\assets\resume.docx" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
